# Carpetas temporales de Visual Studio
.vs/
bin/
obj/

# Archivos de usuario de VS
*.user
*.suo

# Archivos de base de datos generados
*.dbmdl
*.dacpac
*.pdb
*.jfm

# Archivos de log
*.log

# Archivos de SQL Server Database Project
**/Registros de importación de esquemas/
